.user-icon {
  background: #faa55f;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 20%;

  &.active {
    background: #5db4cf;
  }

  .initials-container {
    padding-top: 5px;
  }
}
