.search-container {
  background: #f9f9f9;
  width: 200px;
  height: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

.searchBar {
  border: 0.5px solid #c5c5c5;
  border-radius: 5%;
  width: 200px;
  height: 40px;
  margin-left: 1px;
}
