.result-container {
  display: flex;
  flex-direction: row;
  border: solid 0.5px #c5c5c5;
  background: #ffffff;
  border-radius: 2px;
}
.result-container.active {
  background: #f6fcfa;
}

.col-1 {
  order: 1;
  width: 20px;
  margin-left: 10px;
  margin-top: 5px;
  margin-right: 5px;
}

.col-2 {
  order: 2;
  width: 50px;
  height: 35px;
}

.user-data-container {
  height: 10px;
}
