.result-container {
  display: flex;
  flex-direction: row;
  border: solid 0.5px #c5c5c5;
  background: #ffffff;
  border-radius: 3%; }
  .result-container.active {
    background: #f6fcfa; }

.col-1 {
  order: 1;
  width: 40px;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 5px; }

.col-2 {
  order: 2;
  width: 200px;
  height: 40px;
  margin-top: 10px; }

.email-container {
  bottom: 5px;
  position: relative; }
