.App {
  text-align: center; }

.text {
  font-size: 15px;
  color: #636363; }
  .text ::placeholder {
    color: #c5c5c5; }
  .text.active {
    color: #83c5aa; }

.text-secondary {
  font-size: 12px; }

.text-initials {
  color: #ffffff;
  font-size: 15px;
  margin-top: 10px; }
