.App {
  text-align: center;
}

.text {
  font-size: 13px;
  color: #636363;

  &::placeholder {
    color: #c5c5c5;
  }

  &.active {
    color: #83c5aa;
  }
}

.text-secondary {
  font-size: 10px;
  color: #828282;
}

.text-initials {
  color: #ffffff;
  font-size: 15px;
  margin-top: 10px;
}
