.App {
  text-align: center;
}

.text {
  font-size: 7px;

  ::placeholder {
    color: #c5c5c5;
  }

  &.active {
    color: #83c5aa;
  }
}

.text-primary {
  color: #636363;
}

.text-secondary {
  color: #c5c5c5;
  font-size: 9px;
}

.text-initials {
  color: #ffffff;
  font-size: 9px;
}
